
<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="section-title">Créer un nouveau produit</h1>

    <%= render 'form', product: @product %>

    <%= link_to "Retour", products_path(@product) %>
  </div>
</div>
